html {
  box-sizing: border-box;
  font-family: FontFamilyBody;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  overflow-x: hidden;
  font-size: 1.8rem;
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
figure {
  margin: 0;
}
img {
  max-width: 100%;
  height: auto;
}
body {
  background-color: #f5f7ff;
  font-family: 'Red Hat Display', sans-serif;
  min-height: 100vh;
}
main {
  margin: 20px auto;
  border-radius: 25px;
  overflow: hidden;
  max-width: 440px;
  background-color: #fff;
  box-shadow: 14px 17px 31px 0px rgba(176,176,176,0.75);
}
.description {
  text-align: center;
}
.description__title {
  font-weight: 900;
}
.description__text {
  font-weight: 500;
  color: #7280a7;
  max-width: 300px;
  margin: 20px auto;
}
.pricing {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #f5f7ff;
  width: 95%;
  max-width: 350px;
  border-radius: 10px;
  margin: 0 auto;
}
.pricing__description {
  display: flex;
  align-items: center;
}
.pricing__description__image {
  width: 50px;
  height: 50px;
}
.pricing__description__text {
  margin-left: 20px;
}
.pricing__description__text__title {
  margin: 0;
  font-size: 1.6rem;
  font-weight: 900;
}
.pricing__description__text__p {
  margin: 0;
  font-size: 1.5rem;
  color: #7280a7;
}
.pricing__link {
  color: #3829e0;
  font-weight: 700;
}
.pricing__link:hover {
  color: #766cea;
}
.buttons {
  display: flex;
  flex-direction: column;
  width: 95%;
  max-width: 350px;
  margin: 20px auto;
}
.buttons__item-primary {
  background-color: #3829e0;
  color: #fff;
  border-radius: 10px;
  box-shadow: 14px 17px 31px 0px rgba(176,176,176,0.75);
  border: none;
  height: 50px;
  font-size: 1.8rem;
  font-weight: 700;
  cursor: pointer;
}
.buttons__item-primary:hover {
  background-color: #766cea;
}
.buttons__item-secondary {
  background: none;
  color: #7280a7;
  border: none;
  height: 50px;
  font-size: 1.8rem;
  font-weight: 700;
  cursor: pointer;
}
.buttons__item-secondary:hover {
  color: #4f5b7d;
}
