pale-blue        = hsl(225, 100%, 94%)
bright-blue      = hsl(245, 75%, 52%)
very-pale-blue   = hsl(225, 100%, 98%)
desaturated-blue = hsl(224, 23%, 55%)
dark-blue        = hsl(223, 47%, 23%)
white            = white

font-size = 16px

fw-bold = 900
fw-medium = 700
fw-thin = 500

spacing-extra-small = 5px
spacing-small = 10px
spacing-medium = 20px
spacing-big = 50px
spacing-extra-big = 100px
shadow = 14px 17px 31px 0px rgba(176,176,176,0.75)