@import './_tokens.styl'
@import './_reset-styles.styl'

body
	background-color very-pale-blue
	font-family: 'Red Hat Display', sans-serif;
	min-height 100vh
main
	margin spacing-medium auto
	border-radius 25px
	overflow hidden
	max-width 440px
	background-color white
	box-shadow shadow


.description
	text-align center
	&__title
		font-weight fw-bold
	&__text
		font-weight fw-thin
		color desaturated-blue
		max-width 300px
		margin spacing-medium auto

.pricing
	display flex
	align-items center
	justify-content space-between
	padding spacing-medium
	background-color very-pale-blue
	width 95%
	max-width 350px
	border-radius 10px
	margin 0 auto
	&__description
		display flex
		align-items center
		&__image
			width 50px
			height 50px
		&__text
			margin-left spacing-medium
			&__title
				margin 0
				font-size 1.6rem
				font-weight fw-bold
			&__p
				margin 0
				font-size 1.5rem
				color desaturated-blue
	&__link
		color bright-blue
		font-weight fw-medium
		&:hover
			color lighten(bright-blue, 15)

.buttons
	display flex
	flex-direction column
	width 95%
	max-width 350px
	margin spacing-medium auto
	&__item-primary
		background-color bright-blue
		color white
		border-radius 10px
		box-shadow shadow
		border none
		height 50px
		font-size 1.8rem
		font-weight fw-medium
		cursor pointer
		&:hover
			background-color lighten(bright-blue, 15)
	&__item-secondary
		background none
		color desaturated-blue
		border none
		height 50px
		font-size 1.8rem
		font-weight fw-medium
		cursor pointer
		&:hover
			color darken(desaturated-blue, 15)
