@import './_tokens.styl'
@import './_reset-styles.styl'

body
	background-color very-pale-blue
	font-family: 'Red Hat Display', sans-serif;
main
	margin spacing-big auto
	border-radius 25px
	overflow hidden
	max-width 440px
	background-color white

.description
	text-align center
	&__title
		font-weight fw-bold
	&__text
		font-weight fw-thin
		color desaturated-blue
		max-width 300px
		margin spacing-medium auto